<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- LOG -->
    <add key="ShowConsole" value="true" />
    <add key="SaveEventLog" value="true" />
    <add key="FullLog" value="true" />
    <add key="LogName" value="App" />
    <!-- OTHER -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <logsConfiguration>
    <visibility 
      showInfo="true"
      showSuccess="true"
      showTracking="true"
      showProcess="true"
      showWarning="true"
      showError="true"
      showException="true">
    </visibility>
    <log 
      format="{date} [{type}] {message}"
      dateFormat="yyyy-MM-dd HH:mm:ss"
      active="true"
      webLog="false"
      fullLog="false"
      multiFiles="false"
      fileName="AppLog"
      relativePath="false"
      path="">
    </log>
    <consoleLog
      active="true">
    </consoleLog>
    <eventLog
      active="true"
      name="AppLog"
      infoId="10"
      successId="10"
      trackingId="30"
      processId="30"
      warningId="40"
      errorId="50"
      exceptionId="60">
    </eventLog>
    <dataBaseLog
      active="true"
      connectionString=""
      table=""
      dateFiled=""
      typeField=""
      messageField="">
    </dataBaseLog>
    <mailLog
      active=""
      server=""
      port=""
      user=""
      password=""
      fromName=""
      fromMail=""
      toName=""
      toMail="">
    </mailLog>
  </logsConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>