<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logsConfiguration" type="AnayaRojo.Tools.Configs.Sections.LogsSection, AnayaRojo.Tools" />
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <logsConfiguration>
    <visibility
      showInfo="true"
      showSuccess="true"
      showTracking="true"
      showProcess="true"
      showWarning="true"
      showError="true"
      showException="true">
    </visibility>
    <log
      format="{date} [{type}] {message}"
      dateFormat="yyyy-MM-dd HH:mm:ss"
      active="true"
      webLog="false"
      fullLog="false"
      multiFiles="false"
      fileName="AppLog"
      relativePath="false"
      path="">
    </log>
    <consoleLog
      active="true">
    </consoleLog>
    <eventLog
      active="true"
      name="AppLog"
      infoId="10"
      successId="10"
      trackingId="30"
      processId="30"
      warningId="40"
      errorId="50"
      exceptionId="60">
    </eventLog>
    <dataBaseLog
      active="true"
      connectionString="Data Source=SQL5037.site4now.net;Initial Catalog=DB_9B3CD1_log;User Id=DB_9B3CD1_log_admin;Password=l0G20160610;"
      table="Logs"
      dateFiled="Date"
      typeField="Type"
      messageField="Message">
    </dataBaseLog>
    <mailLog
      active="true"
      applicationName="AnayaRojoTools"
      authorName="Anaya Rojo"
      server="mail.anayarojo.info"
      port="8889"
      enableSsl="false"
      user="test@anayarojo.info"
      password="t35t@ruD0"
      fromName="Anaya Rojo Test"
      fromMail="test@anayarojo.info"
      toName="Anaya Rojo Test"
      toMail="test@anayarojo.info">
    </mailLog>
  </logsConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>